body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	overflow-x: hidden;
	background: #fff;
	scroll-behavior: smooth;
	color: #0d0900;
}

.cont {
	margin: 0 auto;
	max-width: 1920px;
	width: perc(1362);
	transition: all 0.3s ease-in-out;
}
